<div class="sidebar">
  <aside>
    <nav>
      <div class="nav-list catalog-lists">
        <a href="/catalog" target="_self">Home</a>
        <a href="/catalog/books" target="_self">All Books</a>
        <a href="/catalog/authors" target="_self">All Authors</a>
        <a href="/catalog/genres" target="_self">All Genres</a>
        <a href="/catalog/book-copies" target="_self">All Book Copies</a>
      </div>
      <hr />
      <div class="nav-list catalog-create-buttons">
        <a class="button" href="/catalog/author/create" target="_self" aria-label="add new author"><span class="fa-solid fa-plus fa-xs" aria-hidden="true"></span> New Author</a>
        <a class="button" href="/catalog/genre/create" target="_self" aria-label="add new genre"><span class="fa-solid fa-plus fa-xs" aria-hidden="true"></span> New Genre</a>
        <a class="button" href="/catalog/book/create" target="_self" aria-label="add new book"><span class="fa-solid fa-plus fa-xs" aria-hidden="true"></span> New Book</a>
        <a class="button" href="/catalog/book-copy/create" target="_self" aria-label="add new book copy"><span class="fa-solid fa-plus fa-xs" aria-hidden="true"></span> New Book Copy</a>
      </div>
    </nav>
  </aside>
</div>