<aside class="sidebar">
  <nav>
    <div class="catalog-lists">
      <a href="/catalog" target="_self">Home</a>
      <a href="/catalog/books" target="_self">All Books</a>
      <a href="/catalog/authors" target="_self">All Authors</a>
      <a href="/catalog/genres" target="_self">All Genres</a>
      <a href="/catalog/book-copies" target="_self">All Book Copies</a>
    </div>
    <hr />
    <div class="catalog-create-buttons">
      <a class="button" href="/catalog/author/create" target="_self"><span class="fas fa-plus fa-xs"></span> New Author</a>
      <a class="button" href="/catalog/genre/create" target="_self"><span class="fas fa-plus fa-xs"></span> New Genre</a>
      <a class="button" href="/catalog/book/create" target="_self"><span class="fas fa-plus fa-xs"></span> New Book</a>
      <a class="button" href="/catalog/book-copy/create" target="_self"><span class="fas fa-plus fa-xs"></span> New Book Copy</a>
    </div>
  </nav>
</aside>