<aside class="sidebar">
  <nav>
    <a href="/catalog" target="_self">Home</a>
    <a href="/catalog/books" target="_self">All Books</a>
    <a href="/catalog/authors" target="_self">All Authors</a>
    <a href="/catalog/genres" target="_self">All Genres</a>
    <a href="/catalog/book-instances" target="_self">All Book Copies</a>
    <a class="button" href="/catalog/author/create" target="_self"><span class="fas fa-plus fa-sm"></span> New Author</a>
    <a class="button" href="/catalog/genre/create" target="_self"><span class="fas fa-plus fa-sm"></span> New Genre</a>
    <a class="button" href="/catalog/book/create" target="_self"><span class="fas fa-plus fa-sm"></span> New Book</a>
    <a class="button" href="/catalog/book-instance/create" target="_self"><span class="fas fa-plus fa-sm"></span> New Book Copy</a>
  </nav>
</aside>