<% if (!data.success) { %>
  <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw"></span> <%= data.message %></p>
<% } else { %>
  <h2><%= `${page}: ${data.message._id}` %></h2>
  <p class="message warning-message"><span class="fa fa-exclamation-triangle fa-lg fa-fw"></span> Are you sure you want to delete this book copy?</p>
  <form method="post" novalidate>
    <input type="hidden" name="bookCopyID" value="<%= data.message._id %>" id="book-copy-id" required />
    <div class="button-group">
      <button type="submit" class="button">Yes, Delete this book copy</button>
    </div>
  </form>
<% } %> 