<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= typeof page !== 'undefined' && page.details ? `${page.heading}: ${page.details} | ` : typeof page !== 'undefined' ? `${page.heading} | ` : '' %>Local Library Catalog</title>
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
  </head>
  <body>
    <header>
      <h1>Local Library Catalog</h1>
    </header>
    <main>
      <%- include ('./partials/sidebar') -%>
      <%- body %>
    </main>
    <footer>Created by <a href="https://autumnchris.github.io/portfolio" target="_blank">Autumn Bullard</a> &copy; <%= new Date().getFullYear(); %></footer>
    <script>
      function events() {
        document.addEventListener('keydown', event => {
          const element = event.target;
          element.matches('form fieldset .checkmark') ? handleCheckboxKeyDown(event) : null;
        });
      }

      function handleCheckboxKeyDown(event) {

        if (event.key === 'Enter' || event.key === ' ') {
          event.preventDefault();
          document.getElementById(event.target.dataset.inputId).checked = !document.getElementById(event.target.dataset.inputId).checked;
        }
      }

      events();
    </script>
  </body>
</html>