/* STYLES FOR PAGE'S MAIN CONTENT */

.page-hr {
  margin-bottom: 15px;
}

/* Button styles */
.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
}

.button,
.button:visited,
.button:hover,
.button:active,
.button:focus {
  background: hsl(206, 95%, 36%);
  border: 0;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: normal;
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button:hover {
  background: hsl(206, 95%, 32%);
}

/* Table styles */
table,
th,
td {
  border: 1px solid hsl(0, 0%, 60%);
  border-collapse: collapse;
}

table {
  border: 0;
  display: block;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  overflow-x: auto;
  white-space: nowrap;
}

table caption {
  padding: 10px;
}

table th {
  background: hsl(0, 0%, 75%);
  padding: 10px;
}

table td {
  background: hsl(0, 0%, 90%);
  padding: 10px;
}

table .status.maintenance {
  background: hsl(349, 96%, 95%);
  color: hsl(349, 96%, 26%);
}

table .status.reserved,
table .status.loaned {
  background: hsl(42, 100%, 95%);
  color: hsl(42, 100%, 26%);
}

table .status.available {
  background: hsl(127deg 69% 95%);
  color: hsl(124deg 70% 26%);
}

/* Sidebar styles */
.sidebar {
  background: hsl(0, 0%, 90%);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.sidebar nav {
  padding: 10px;
}

.sidebar nav .catalog-lists,
.sidebar nav .catalog-create-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar nav .catalog-lists a,
.sidebar nav .catalog-lists a:visited,
.sidebar nav .catalog-lists a:hover,
.sidebar nav .catalog-lists a:active,
.sidebar nav .catalog-lists a:focus {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 4px 0;
  width: 160px;
  text-align: center;
}

.sidebar nav .button,
.sidebar nav .button:visited,
.sidebar nav .button:hover,
.sidebar nav .button:active,
.sidebar nav .button:focus {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 160px;
}

/* Details */
.details-container {
  max-width: 700px;
}

.detail-card {
  background: hsl(0, 0%, 90%);
  margin: 15px 0;
  max-width: 600px;
  padding: 14px;
}

.detail-item {
  line-height: 1.3;
  padding: 2px;
}

.detail-item strong {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.details-container .status, 
.detail-card .status {
  padding: 4px;
}

.details-container .status.maintenance, 
.detail-card .status.maintenance {
  background: hsl(349, 96%, 95%);
  color: hsl(349, 96%, 26%);
}

.details-container .status.reserved,
.detail-card .status.reserved,
.details-container .status.loaned,
.detail-card .status.loaned {
  background: hsl(42, 100%, 95%);
  color: hsl(42, 100%, 26%);
}

.details-container .status.available,
.detail-card .status.available {
  background: hsl(127deg 69% 95%);
  color: hsl(124deg 70% 26%);
}

@media all and (min-width: 580px) {

  .sidebar nav .catalog-lists,
  .sidebar nav .catalog-create-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .sidebar nav .catalog-lists a,
  .sidebar nav .catalog-lists a:visited,
  .sidebar nav .catalog-lists a:hover,
  .sidebar nav .catalog-lists a:active,
  .sidebar nav .catalog-lists a:focus {
    margin: 0 12px;
    width: auto;
  }

  .sidebar nav .button,
  .sidebar nav .button:visited,
  .sidebar nav .button:hover,
  .sidebar nav .button:active,
  .sidebar nav .button:focus {
    width: auto;
  }
}

@media all and (min-width: 700px) {

  .sidebar {
    background: hsl(0, 0%, 90%);
    bottom: 0;
    position: fixed;
    width: 200px;
  }

  .sidebar nav {
    padding: 15px;
  }

  .sidebar nav .catalog-lists,
  .sidebar nav .catalog-create-buttons {
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .sidebar nav .catalog-lists a,
  .sidebar nav .catalog-lists a:visited,
  .sidebar nav .catalog-lists a:hover,
  .sidebar nav .catalog-lists a:active,
  .sidebar nav .catalog-lists a:focus {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 4px 10px;
  }

  .sidebar nav .button,
  .sidebar nav .button:visited,
  .sidebar nav .button:hover,
  .sidebar nav .button:active,
  .sidebar nav .button:focus {
    width: 160px;
  }
}